/* page.module.css */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
    background-color: #121212; /* Dark gray background */
    color: #fff; /* Set text color to white */
}

.containerWrapper {
    flex: 1; /* Grow to fill remaining space */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.container {
    text-align: center;
    margin-top: 100px;
}

.container h1 {
    font-size: 2rem; /* Increase font size for heading */
    margin-bottom: 20px; /* Add space below heading */
}

.container p {
    margin-bottom: 20px; /* Add space below paragraphs */
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3; /* Blue color for buttons */
    color: #fff; /* White text color for buttons */
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.buttons a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Footer */
.footer {
    background-color: #333; /* Dark gray for footer background */
    color: #fff; /* White text color for footer */
    padding: 20px;
    text-align: center;
}
